# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
aldeia-da-luz/node_modules
aldeia-da-luz/.pnp
aldeia-da-luz/.pnp.*
aldeia-da-luz/.yarn/*
!aldeia-da-luz/.yarn/patches
!aldeia-da-luz/.yarn/plugins
!aldeia-da-luz/.yarn/releases
!aldeia-da-luz/.yarn/versions

# testing
aldeia-da-luz/coverage

# next.js
aldeia-da-luz/.next/
aldeia-da-luz/out/

# production
aldeia-da-luz/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
aldeia-da-luz/.env*

# vercel
aldeia-da-luz/.vercel

# typescript
aldeia-da-luz/*.tsbuildinfo
aldeia-da-luz/next-env.d.ts
